<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Add a Landmark</title>
  </head>
  <body>
    <h1>Add a Landmark</h1>
      <form action="/landmarks" method="post">
        <br> Landmark Name: <input id="landmark_name" type="text" name="landmark[name]"> </br>
        <br> Year Completed: <input id="landmark_year_completed" type="text" name="landmark[year_completed]"> </br>
        <br> Figure: <input type="text" name="figure"> </br>
      <input type="submit" value="Create New Landmark">
      </form>

  </body>
</html>
